<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
</head>

<body>
  <!--Navigation bar-->
  <div id="nav-placeholder">

  </div>
  {{!-- Navigation links --}}
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">LikeMank</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/code/1 ">Code</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {{!-- Body --}}
  <div class="container mt-4">
    <div class="mt-4 p-5 bg-primary text-white rounded">
      <h1>The LikeMank Project</h1>
    </div>
    <h2 id="home">Home</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi
      lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget,
      auctor vitae massa.</p>

    <h2 id="about">About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim. Vivamus nec augue non elit
      gravida pellentesque eu quis metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia Curae; Sed vel nibh id orci tincidunt dictum. Donec a arcu at arcu suscipit luctus.</p>

    <h2 id="services">Our Services</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia dictum arcu, nec volutpat libero. Proin
      at mi nec metus suscipit aliquam non eget est. Nullam consequat odio sit amet nisl varius, sit amet commodo lectus
      faucibus. Cras eget eros quis risus vehicula malesuada.</p>

    <h2 id="contact">Contact Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis neque non elit feugiat gravida. Integer auctor,
      est id lacinia facilisis, lorem nunc laoreet magna, ac pellentesque neque metus non risus. Aliquam erat volutpat.
      In et tempus eros. Suspendisse potenti. Donec a felis non sapien euismod imperdiet.</p>
  </div>
</body>

</html>

<script>

</script>